frontend/src/application.js
frontend/src/font
.idea

# NPM / Gulp 
bower_components
node_modules

# Working Directories
frontend/src/script/**/*.js
frontend/src/script/**/*.map

# Building Directories
target/
